body {
  align-items: center;
  text-align: center;
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form {
  padding: 30px 20px;
  margin: 20px 20px;
}

input {
  margin: 6px 10px;
  font-size: 20px;
  text-align: left center;
  max-width: 80%;
  max-height: 24px;
  width: 1000px;
  border-radius: 5px;
  border: 2px groove rgb(44, 89, 187);
}
#login_btn{
  max-width: 400px;
  height: 40px;
  max-height: 60px;
}

#register {
  max-width: 400px;
  height: 40px;
  width: 400px;
  max-height: 60px;
  font-size: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px groove rgb(164, 175, 170);
}

span {
  font-size: 20px;
  text-align: center center;
}
