fieldset{
    background-color: rgb(126, 126, 126);
    font-size: 2em;
    border: 2px solid rgb(12, 46, 41);
    word-wrap: break-word;
}
label{
    padding: 18px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
legend {
    background-color: white;
    border: 2px solid black;
}

#chainRes{
    margin: 18px 40px 18px 4px;
}
.ledger{
    text-align: left;
    width: 90%;
}
.ledger div {
    text-align: left;
    margin: 2px;
    padding: 2px 2px;
    width: 90%;
    word-wrap: break-all;
}
pre {
    white-space: pre-wrap;
    word-break: break-all;
    font-weight: bold;
}